.react-datetime-picker {
  height: 40px;
  width: 100px;

  background: #EDEEF0;
  border: none;
  //padding: 5px;
}

.react-datetime-picker__wrapper {
  border: none;
  height: 40px;
  color: #2B2B2C;
  background: #ffffff;
  //background: #EDEEF0;
}

.react-datetime-picker__inputGroup {
  background: #ffffff;
}